 /*tag selector*/
        body {
            font-family: "Arial", "sans-serif";
            background-color:#d4d0d0;
            color:#333;

        }

        header {
            background-color:#d10000;
            color:#ffffff;
            padding: 20px;
            text-align: center;
        }
        
        /*section styles*/
        #products {
            margin: 20px;
            padding: 20px;
            background-color:#fff;
            border: radius 5px;
        }

         /*heading styles*/
         #products h2 {
            color:#4CAF50;
            text-align: center;
        }

        /*product styles*/
        #product1 {
            margin: 20px;
            padding: 10px;
            max-width:600px;
            border: 1px solid #ddd ;
            border-radius: 5px;

        }

        #product2 {
            margin: 20px;
            padding: 10px;
            max-width:600px;
            border: 1px solid #ddd ;
            border-radius: 5px;

        }

         /*product image styles*/
         #product img {
            max-width: 100%;
            height: auto;
            border-radius: 5px;
            margin-top: 10px;
         }

         /*email field styles*/
         #email field {
            margin-bottom: 15px;

         }

         /*button styles*/
         #product button {
            background-color:#4CAF50 ;
            color: #fff;
            padding: 10px;
            border: none;
            border-radius: 5px;
         }

         /*footer styles*/
         footer {
            margin-top: 20px;
            padding: 20px;
            background-color:#000000;
            border-radius: 5px;
            box-shadow: subtle effect;
            text-align: center;
            color: #fff;
         }